body {
  background-color: #f5f5f5; }

#main {
  width: 1200px;
  height: 1200px;
  position: relative;
  margin: 0 auto 0 auto; }

#head {
  width: 900px;
  height: 120px;
  position: absolute;
  top: 20px;
  left: 0px;
  text-align: center;
  background-color: lightgrey; }
  #head h1 {
    position: relative;
    margin-top: 0px; }

#message {
  width: 290px;
  height: 120px;
  top: 20px;
  left: 910px;
  position: absolute;
  background-color: purple; }

#expenses {
  width: 900px;
  height: 200px;
  top: 150px;
  left: 0px;
  position: absolute;
  background-color: purple; }

#account {
  width: 290px;
  height: 200px;
  top: 150px;
  left: 910px;
  position: absolute;
  background-color: lightgrey; }

#expenses1 {
  width: 900px;
  height: 200px;
  top: 352px;
  left: 0px;
  position: absolute;
  background-color: purple; }

#account1 {
  width: 290px;
  height: 200px;
  top: 352px;
  left: 910px;
  position: absolute;
  background-color: lightgrey; }

#footer {
  width: 1200px;
  height: 60px;
  background-color: #800080; }
